body {
    background-image: url(bg.png);

}

img {
    margin-right: auto;
    margin-left: auto;
    display: block;
}


h1{

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: white;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;
    padding-top: 30px;
    font-size: 10px;
    font-style: italic;


}

span{
    font-size: 40px;
    
}