main{
    display:inline-flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap; 
    align-items: stretch;
    align-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
}

#menug,#menud{
    background-color: gray;
    color:white;
    width: 15%;
    height:550px;
    padding-right: 20px;
    padding-left: 20px;
    
}

#central{
    width: 70%;
    padding-right: 30px;
    padding:20px;
}

h3,h4{
    text-align: center;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

h3{
    font-size: 30px;
    margin: 0;
    padding: 20px;
}

h4{
    font-size: 15px;
    margin: 0;
    padding: 5px;
}

body{
    margin:0;
}

h2{
    font-size:20px;
}

h1{
    font-size: 30px;
}

h1,h2{
    text-decoration: underline;
}

ul,li{
    list-style-type:none;
    margin-left:-10px;
}

a{
    color:white;
}